// Specific CSS for your home-page
.carousel-inner {
  height: 600px;
}

.carousel-inner img {
  height: 100%;
  object-fit: cover;
}

.description {
  background-image: url('carousel/background-des.png');
  background-size: cover;
  background-position: center;
  height: 600px;
  color: white; // Adding some text color to make any content visible
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
