.banner {
  position: relative;
  text-align: center;
  margin: 10px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  h1 {
    font-size: 35px;
    font-weight: bold;
    color: #ffbd44;
    margin: 0;

    &.highlight {
      color: rgb(255, 146, 250);
      font-size: 40px;
    }
  }

  .banner-image {
    position: absolute;
    width: 100px;
    height: auto;

    &.banner-image-left {
      top: 10px;
      left: 10px;
    }

    &.banner-image-right {
      bottom: 10px;
      right: 10px;
    }

    &.banner-image-left-1 {
      top: 10px;
      left: 10px;
    }
  }
}

.orange-section {
  background-color: #fcc11e;
  color: white;
  text-align: center;
  padding-top: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: relative;
  margin: 20px;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 2rem;
    margin: 0;
  }

  p {
    font-size: 1.2rem;
  }

}

.orange-section.visible {
  display: flex;
}

.red-section {
  background-color: #73580d;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: relative;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    .appo-img-1,
    .appo-img-2 {
      width: 300px;
      height: auto;
      margin: 10px 0;
    }
    .appo-img-1{

    }

  }

  h2 {
    font-size: 2rem;
    margin: 0;
  }

  p {
    font-size: 1.2rem;
  }
}


.red-section.visible {
  display: flex;
}

.white-section {
  background-color: #faf8f6;
}
.footer {
  background-color: white;
  color: orange;
  text-align: center;
  padding: 20px 0;
}

.footer-title {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

.sns-icons {
  margin-top: 10px;
}

.sns-icons a {
  margin: 0 15px;
  display: inline-block;
}

.sns-icons img {
  width: 50px;
  height: 50px;
}

.button-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.button-title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
