<div class="container" data-controller="weekly-calendar">
  <div class="row sidebar-container">
      <%= render partial: "dashboard/sidebar" %>

    <div class="col-12 col-lg-8">

      <h2 class="client-h2"><%= @client.name %>'s Client Profile</h2>

<div class="card-product">
<img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="Profile Picture" class="img-fluid rounded-circle" style="width: 100px; height: 100px;">
  <div class="card-product-infos">
    <h2><%= @client.name %></h2>
    <p><strong>Nickname</strong></p>
    <p>LineID: ____________</p>
    <p>Phone Number: ###-###-####</p>

  </div>
</div>

    </div>

    <div class="col-12 col-lg-4">

<%# <div class="card-product">
<img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="Profile Picture" class="img-fluid rounded-circle" style="width: 100px; height: 100px;">
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div> %>

    </div>

    <div class="col-12 col-lg-4">

<%# <div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div> %>

    </div>

    <div class="col-12 col-lg-8">

<%# <div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div> %>

    </div>
