<%# Calendar container %>
<div class="container">
<% days_of_month = Date.today.all_month.to_a %>
<%# These are the days of the week being displayed in it's own row%>
  <table class="table table-bordered">
    <%# Table Header: Days of the Week %>
    <thead>
      <tr>
        <% @day_names.each do |day_name| %>
          <th class="text-center p-2">
            <%= day_name %>
          </th>
        <% end %>
      </tr>
    </thead>

    <%# Table Body: Days of the Month %>
    <tbody>
      <% days_of_month.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <td class="text-center p-2">
              <%= day.day %>
            </td>
          <% end %>

          <%# Fill in any missing days in the last row with empty cells %>
          <% if week.size < 7 %>
            <% (7 - week.size).times do %>
              <td class="text-center p-2"></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
