.container-c {
  margin: 0 auto;
  padding: 20px;
  flex: 1;
}

.row-i {
  display: flex;
}

.clients-list {
  flex: 1;
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.client-card-i {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client-card-i:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.avatar-i {
  width: 200px;
  height: 200px;
}

.card-client-profile-infos-i {
  color: black;
}

.dashboard-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.sidebar-container {
  flex: 0 0 auto;
}
