.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 40px;
}

.navbar-title {
  font-size: 24px;
  color: orange;
  margin-left: 20px;
  margin-top:20px;
}

.text-orange {
  color: orange !important;
}

.btn-outline-orange {
  color: orange;
  border-color: orange;
  border: orange solid 1px;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 1.1em;

  &:hover {
    color: white;
    background-color: orange;
    border-color: orange;
  }

  &:focus,
  &:active {
    color: white;
    background-color: orange;
    border-color: orange;
    box-shadow: 0 0 0 0.2rem rgba(255, 165, 0, 0.5);
  }
}

.nav-link.text-orange {
  color: orange;

  &:hover,
  &:focus {
    color: darkorange;
  }
}
