// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "simple_calendar";
@import "pages/dashboard";
@import "pages/table";
@import "sessions/new";
@import "availabilities/new";
@import "bookings/new";
<<<<<<< HEAD
@import "pages/clients";
=======


.a-availabilities-btn {
  background-color: orange;
  color: white;
  border-radius: 50%;
  padding: 3px;
  margin: 3px;
}
>>>>>>> aad85450d5138de77ae99fd277ad27f854d0dd4f
