// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "simple_calendar";

.booking-slot {
  background-color: #e0f7fa;
  border: 1px solid #b2ebf2;
  padding: 4px;
  margin-bottom: 2px;
  border-radius: 4px;
}

.booking-slot::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #00bcd4;
  margin-bottom: 4px;
}

.booking-bar {
  background-color: #00bcd4;
  height: 20px;
  margin: 2px 0;
}

// Specific CSS for your navbar
.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 40px;
}

.navbar-title {
  font-size: 24px;
  color: orange;
  margin-left: 20px;
  margin-top:20px;
}

.text-orange {
  color: orange !important;
}

.btn-outline-orange {
  color: orange;
  border-color: orange;
  border: orange solid 1px;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 1.1em;

  &:hover {
    color: white;
    background-color: orange;
    border-color: orange;
  }

  &:focus,
  &:active {
    color: white;
    background-color: orange;
    border-color: orange;
    box-shadow: 0 0 0 0.2rem rgba(255, 165, 0, 0.5);
  }
}

.nav-link.text-orange {
  color: orange;

  &:hover,
  &:focus {
    color: darkorange;
  }
}
